<div class="welcomediv">
    <div class="ion-text-center authText">
        <ion-icon name="key-outline"></ion-icon>
        <p>Accede con tu usuario</p>
        <small class="form-text text-muted">¡Tu próxima compra será más organizada!</small>
    </div>

    <div class="form-group mt-4">
        <label for="email">Correo electrónico</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Escriba su correo">
        <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico</small>
    </div>
    <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" placeholder="Contraseña" (keyup.enter)="this.checkAuth()">
    </div>

    <ion-button class="mb-2" color="success" expand="block" (click)="this.checkAuth()">Entrar</ion-button>
    <ion-button color="light" expand="block" (click)="this.fbs.logout()">Accede con Google
        <ion-icon slot="start" name="logo-google"></ion-icon>
    </ion-button>
    <p class="text-center registrate">Si no tienes cuenta, <ion-label [routerLink]="['/register']"class="registratecolor">regístrate</ion-label></p>

</div>
