<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="folder == 'Inicio'">
    <app-home></app-home>
  </div>

  <div *ngIf="folder == 'Acceder'">
    <app-auth></app-auth>
  </div>

  <div *ngIf="folder == 'Regístrate' && this.fbs.email === undefined">
    <app-register></app-register>
  </div>
</ion-content>

<div *ngIf="folder == 'Inicio' && this.fbs.email !== undefined">

  <ion-footer class="footer">
    <ion-toolbar>
      <div>
        <p>Total: {{this.fbs.cartPrice}}</p>
      </div>
    </ion-toolbar>
  </ion-footer>

</div>

