<app-slides *ngIf="ls.getVariable('tutorial') !== 'true'"></app-slides>

<ion-app *ngIf="ls.getVariable('tutorial') === 'true'">
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list" lines="none">
          <ion-list-header>Mi carrito</ion-list-header>

          <div *ngIf="this.fbs.email !== undefined">
            <ion-note class="mb-0">{{this.fbs.email}}</ion-note>
          </div>


          <ion-menu-toggle auto-hide="false" *ngIf="this.fbs.email == undefined">
            <ion-chip [routerLink]="[authPage[0].url]">
              <ion-avatar>
                <img src="./assets/images/sheep.png">
              </ion-avatar>
              <ion-label>Entra o regístrate</ion-label>
            </ion-chip>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" *ngIf="this.fbs.email !== undefined">
            <ion-chip (click)="this.fbs.logout()">
              <ion-avatar>
                <img src="./assets/images/sheep.png">
              </ion-avatar>
              <ion-label>Cerrar sesión</ion-label>
            </ion-chip>
          </ion-menu-toggle>

          <!-- Recorre el array de appPages para mostrarlas -->
          <ion-menu-toggle class="menuTogglePrincipal" auto-hide="false" *ngFor="let p of appPages; let i = index" >
            <ion-item id="menuItem" (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-outline'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-menu-toggle>
          <ion-item id="menuItem">
            <div class="prueba text-center"><ion-label>Añade una lista</ion-label></div>
          </ion-item>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
