<div *ngIf="this.fbs.email === undefined" class="nologin">
  <ion-icon name="key-outline"></ion-icon>
  <p>Entra con tu cuenta para comenzar a organizar tu compra</p>
</div>

<div *ngIf="this.fbs.email !== undefined">
  <div class="addBar">
    <label for="search" class="d-none"></label>
      <input type="text" id="search" class="form-control" placeholder="Añadir a la lista" (keydown.enter)="this.fbs.createItem($event.target.value)">
  </div>
  <div>
    <p class="tuCesta">Tu cesta</p>

    <ion-list *ngFor="let item of this.fbs.userCart">
      <ion-item-sliding #slidingItem>

        <ion-item>
          <ion-checkbox slot="start" [checked]="item.bought" (ionChange)="this.fbs.onChecked(item)"></ion-checkbox>
          <ion-label>
            <h1>{{item.name}}</h1>
            <small id="emailHelp" class="form-text text-muted">{{item.supermarket}} &mdash; {{item.price}} €</small></ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="fbs.onCart(item); this.closeSliding(slidingItem)">
            Borrar
          </ion-item-option>
          <ion-item-option color="secondary" (click)="this.closeSliding(slidingItem)">
            Editar
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>
  </div>

</div>


