<ion-searchbar animated></ion-searchbar>

  <div *ngIf="this.fbs.email === undefined">
    <p>¡No estás conectado!</p>
  </div>

  <div *ngIf="this.fbs.email !== undefined">
    <ion-list *ngFor="let item of this.fbs.userCart">
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>
          <h1>{{item.name}}</h1>
          <small id="emailHelp" class="form-text text-muted">{{item.supermarket}} &mdash; {{item.price}} €</small></ion-label>
      </ion-item>
    </ion-list>
  </div>

