.divsearchbar{
  width: 100%;
  padding: 1em;

  input{
    border-radius: 20px;
  }
}

//Color de la linea separadora de los items
ion-item{ --border-color: #ececec; }

.addBar{
  margin:1em;

  input {
    border-radius: 2em;
  }
}

.nologin{
  width: 70%;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

  p {
    color: #d2d2d2;
    font-family: 'Josefin Sans', sans-serif;
  }
  ion-icon{
    font-size: 30px;
    color: #d2d2d2;
  }
}

.slideicon{
  font-size: 30px;
}

.list-md{
  padding: 0!important;
}
