// Texto debajo de la imagen
ion-slide {
  display: block;
}

.img-padding{
  padding: 40px;
}

.slidetitle{
  font-size: 28px;
  font-weight: lighter;
}

.slidedescription{

  font-size: 14px;
}

.divDescription{
  margin-bottom: 60px;
}
